@{
    ViewData["Title"] = "Car Rental System";
}

<div class="text-center">
    <h1 class="display-4">Car Rental System</h1>

    <a asp-controller="Home" asp-action="Management" asp class="btn btn-primary mt-4">View Renters</a>
    <a asp-controller="Home" asp-action="CreateEditUser" asp class="btn btn-secondary mt-4">Add renter</a>

</div>
