@{
    ViewData["Title"] = "Car Rental System";
}

<div class="text-center">
    <h1 class="display-4">Rent Management</h1>

    <a asp-action="CreateEditUser" class="btn btn-secondary">Add Renter</a>
</div>
